<% if notice || alert %>
  <div id="Notification" class="alert-dismissible custom-alert">
    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
    <p id="notice"><%= notice || alert %></p>
  </div>
<% end %>

<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h1>Ordenes</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="<%= url_for :controller => 'sessions', :action => 'index' %>">Home</a>
            </li>
            <li class="breadcrumb-item active">
                <strong>Ordenes</strong>
            </li>
        </ol>
    </div>
</div>

<div class="wrapper wrapper-content animated fadeInRight ecommerce">
  <div class="ibox-content m-b-sm border-bottom">
    <form method="get" action="<%= filter_orders_path %>">
    <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <%= label_tag 'Filtrar por Estado:' %>
            <%= select_tag 'filter', options_for_select(['', 'Entregado', 'En Cocina', 'Cancelado'], params[:filter]), class: 'form-control' %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= label_tag 'Fecha de Creación Desde:' %>
            <%= date_field_tag 'created_at_start', params[:created_at_start], class: 'form-control', id: 'date_added_start' %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= label_tag 'Fecha de Creación Hasta:' %>
            <%= date_field_tag 'created_at_end', params[:created_at_end], class: 'form-control', id: 'date_added_end' %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= submit_tag 'Filtrar', class: 'btn btn-primary btn-lg btn-block' %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= link_to 'Mostrar Todo', orders_path, class: 'btn btn-primary btn-lg btn-block' %>
          </div>
        </div>
    </form>
  </div>
</div>

  <div class="row">
    <div class="col-lg-12">
      <div class="ibox">
        <div class="ibox-content">
          <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
            <thead>
              <tr>
                <th>Order ID</th>
                <th data-hide="phone">Precio</th>
                <th data-hide="phone">Fecha de Creacion</th>
                <th data-hide="phone,tablet">Fecha de Modificacion</th>
                <th data-hide="phone">Estado</th>
                <th class="text-right">Accion</th>
              </tr>
            </thead>
            <tbody>
              <% @orders.each do |order| %>
                <tr>
                  <td><%= order.id %></td>
                  <td><%= number_to_currency(order.total) %></td>
                  <td><%= order.created_at.strftime('%d/%m/%Y %H:%M') %></td>
                  <td><%= order.updated_at.strftime('%d/%m/%Y') %></td>
                  <td>
                    <% case order.estado %>
                      <% when 'Entregado' %>
                        <span class="badge badge-success"><%= order.estado %></span>
                      <% when 'En Cocina' %>
                        <span class="badge badge-warning"><%= order.estado %></span>
                      <% when 'Cancelado' %>
                        <span class="badge badge-danger"><%= order.estado %></span>
                      <% else %>
                        <span class="badge badge-default"><%= order.estado %></span>
                    <% end %>
                  </td>
                  <td class="text-right">
                    <div class="btn-group">
                      <%= link_to 'View', order, class: 'btn-white btn btn-xs' %>
                      <%= link_to 'Edit', edit_order_path(order), class: 'btn-white btn btn-xs' %>
                      <%= link_to 'Delete', order, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn-white btn btn-xs' %>
                    </div>
                  </td>
                </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
