<div id="Notification" class="alert alert-info alert-dismissible custom-alert">
  <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
  <p id="notice"><%= notice %></p>
</div>

<h1 class="custom-header"><strong>Órdenes</strong></h1>

<table id="orders-table" class="table table-bordered custom-table">
  <thead class="thead-dark">
    <tr>
      <th>ID Orden</th>
      <th>Fecha de Creación</th>
      <th>Total de la Orden</th>
      <th class="col-md-1 text-center">Detalles</th>
      <th class="col-md-1 text-center">Eliminar</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.created_at.strftime('%d/%m/%Y %H:%M') %></td>
        <td><%= number_to_currency(order.total) %></td>
        <td class="text-center justify-content-center">
          <%= link_to content_tag(:i, '', class: 'fa fa-eye'), order, class: 'btn btn-primary' %>
        </td>
        <td class="text-center justify-content-center">
          <%= link_to content_tag(:i, '', class: 'fa fa-trash'), order, method: :delete, data: { confirm: '¿Estás seguro?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Nueva Orden', shops_path, class: 'btn btn-primary' %>
