<h1 class="custom-header">Orden</h1>

<div class="order-details">
  <p><strong>Número de Orden:</strong> <%= @order.id %></p>
  <p><strong>Fecha de Creación:</strong> <%= @order.created_at.strftime('%d/%m/%Y %H:%M') %></p>
  <p><strong>Nombre:</strong> <%= @order.name %></p>
  <p><strong>Conjunto Residencial:</strong> <%= @order.residential %></p>
  <p><strong>Torre:</strong> <%= @order.tower %></p>
  <p><strong>Apartamento:</strong> <%= @order.apartment %></p>
  <p><strong>Método de Pago:</strong> <%= @order.payment_method %></p>
  <p><strong>Estado:</strong> <%= @order.estado %></p>
</div>
<h2>Productos en la Orden</h2>

<table class="table table-bordered custom-table">
  <thead class="thead-dark">
    <tr>
      <th class="col-md-1"></th>
      <th class="col-md-3">Nombre</th>
      <th class="col-md-2">Cantidad</th>
      <th class="col-md-3">Precio</th>
      <th class="col-md-3">Total por producto</th>
    </tr>
  </thead>

  <tbody>
  <% @order.products.each do |product| %>
    <% order_product = @order.order_products.find_by(product_id: product.id) %>
      <tr>
        <td class="text-center">
          <% if product.image.present? %>
            <%= image_tag product.image.url, class: "product-image rounded", style: "max-width: 70px;" %>
         
          <% else %>
          <%= image_tag 'placeholder.png', class: "product-image rounded", style: "max-width: 70px;"%>
          <% end %>        
        </td>
        <td><%= product.title %></td>
        <td><%= order_product.quantity %></td>
        <td><%= number_to_currency(product.price) %></td>
        <td><%= number_to_currency(order_product.quantity * product.price) %></td>
      </tr>
    <% end %>
  </tbody>

</table>
<h1><strong>Total de Orden:</strong> <%= number_to_currency(@order.total) %></h1>
<%= link_to 'Volver a la lista de órdenes', orders_path, class: 'btn btn-primary' %>
