<div class="container centro text-white">
            <div class="row">
              <div class="col">
                      <div class="card mx-auto efecto">
                        <a href="">
                          <%= image_tag("hamburguesa/hamburguesa2.jpg", height:"auto", width:"auto", class:"img-thumbnail card-tamaño") %>
                        </a>
                  </div>
                </div>   
              <div class="col">
                      <div class="card mx-auto efecto">
                    <a href="">
                    <%= image_tag("perros_caliente/perro.jpg", height:"auto", width:"auto", class:"img-thumbnail card-tamaño") %>
                      </a>                  
                    </div>
                </div>
              <div class="col">
                      <div class="card mx-auto efecto">
                    <a href="">
                    <%= image_tag("asados/asado1.jpeg", height:"auto", width:"auto", class:"img-thumbnail card-tamaño") %>
                    </a>                  
                  </div>
                </div>
            </div>
        </div>
        <br>
        <div class="container centro text-white">
            <div class="row">
              <div class="col">
                      <div class="card mx-auto efecto">
                    <a href="">
                    <%= image_tag("alitas/alita1.jpeg", height:"auto", width:"auto", class:"img-thumbnail card-tamaño") %>
                      </a>
                  </div>
                </div>   
              <div class="col">
                      <div class="card mx-auto efecto">
                    <a href="">
                    <%= image_tag("salchipapa/salchipapa2.jpg", height:"auto", width:"auto", class:"img-thumbnail card-tamaño") %>
                      </a>                  
                    </div>
                </div>
              <div class="col">
                      <div class="card mx-auto efecto">
                    <a href="">
                    <%= image_tag("bebidas/bebidas1.jpg", height:"auto", width:"auto", class:"img-thumbnail card-tamaño") %>
                    </a>                  
                  </div>
                </div>
            </div>
        </div>
        <br>
</div>
