<div class="wrapper wrapper-content animated fadeInRight">
  <div class="row">
    <div class="col-lg-12">
      <div class="ibox product-detail">
        <div class="ibox-content">
          <div class="row">
            <div class="col-md-5">
              <div class="product-images">
                <div>
                  <div class="image-imitation" style="padding: 0">
                  <% if @product.image? %>
                    <%= image_tag @product.image.url, width: "350px", height: "250px", class: "rounded" %>
                  <% else %>
                    <%= image_tag("placeholder.png" , width: "350px", height: "250px" )%>
                  <% end %>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7">
              <h2 class="font-bold m-b-xs">
                <%= @product.title %>
              </h2>
              <div class="m-t-md">
                <h2 class="product-main-price">$<%= @product.price %> </h2>
              </div>
              <hr>
              <h4>Product description</h4>
              <div class="small text-muted">
                <%= @product.description %>
              </div>
              <div class="small text-muted">
                <% if @product.available %>
                  <p class="text-success">Available: Yes</p>
                <% else %>
                  <p class="text-danger">Available: No</p>
                <% end %>
              </div>
              <hr>
              <div>
              <div class="btn-group">
                <%= link_to products_path, class: "btn btn-secondary" , style: "margin-right: 10px" do %>
                  <i class="fas fa-arrow-left"></i> Back
                <% end %>
                <%= link_to edit_product_path(@product), class: "btn btn-primary" do %>
                  <i class="fas fa-edit"></i> Edit
                <% end %>
              </div>
            </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
