<div class="middle-box text-center loginscreen animated fadeInDown">
    <div>
        <div>
            <h1 class="logo-name">INC+</h1>

            <h3 class="text-white">Bienvenido a GuamoINC+</h3>
            <p class="text-white">Perfectly designed and precisely prepared admin theme with over 50 pages with extra new web app views.
                <!--Continually expanded and constantly improved Inspinia Admin Them (IN+)-->
            </p>
            <p class="text-white">Login in. To see it in action.</p>

          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|%>
            <div class="form-group">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder: "Email"%>
            </div>

            <div class="form-group">
              <%= f.password_field :password, autocomplete: "current-password", class:"form-control", placeholder: "Password"%>
            </div>

            <div class="actions">
              <%= f.submit "Log in", class:"btn btn-primary block full-width m-b" %>
            </div>
          <% end %>
      </div>
    </div>
<%= render "devise/shared/links" %>

