<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-4">
            <div class="ibox ">
                <div class="ibox-title">
                    <div class="ibox-tools">
                    <span class="label label-success float-right">Mes</span>
                        </div>
                    <h5>Ventas</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><%= number_to_currency(@statistics[:total_orders]) %></h1>
                    <div class="stat-percent font-bold text-success">0% <i class="fa fa-bolt"></i></div>
                    <small>Total Ventas</small>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox ">
                <div class="ibox-title">
                    <div class="ibox-tools">
                    <span class="label label-primary float-right">Today</span>
                        </div>
                    <h5>Ordenes</h5>
                </div>
                    <div class="ibox-content">
                        <h1 class="no-margins"><%= Order.where(created_at: Time.current.beginning_of_day..Time.current.end_of_day).count %></h1>
                        <div class="stat-percent font-bold text-info">0%<i class="fa fa-level-up"></i></div>
                        <%= link_to "New orders", shops_path, class: "small" %>
                    </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox ">
                <div class="ibox-title">
                    <div class="ibox-tools">
                    <span class="label label-primary float-right">Today</span>
                        </div>
                    <h5>Productos</h5>
                </div>
                <div class="ibox-content">
                    <h1 class="no-margins"><%= Product.count %></h1>
                    <div class="stat-percent font-bold text-navy">0% <i class="fa fa-level-up"></i></div>
                    <small><%= link_to "New Product", products_path %></small>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Orders Statistics</h5>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="flot-dashboard-chart">
                                    <%= line_chart @statistics[:daily_orders], id: 'line-chart', height: '200px' %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

