<%= form_with(model: @order, url: finish_order_cart_index_path, method: :post) do |f| %>
    <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group row" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="col-md-6">
        <%= f.label :residential %>
        <%= f.select :residential, ['Isla', 'Bahía', 'Coralina', 'Arrecife'], { prompt: 'Selecciona Conjunto' }, class: "form-control" %>
    </div>

    <div class="col-md-6">
        <%= f.label :tower %>
        <%= f.select :tower, (1..15).map { |n| "Torre #{n}" }, { prompt: 'Selecciona Torre' }, class: "form-control" %>
    </div>
    </div>

    <div class="form-group row">
    <div class="col-md-6">
        <%= f.label :apartment %>
        <%= f.text_field :apartment, class: "form-control" %>
    </div>

    <div class="col-md-6">
        <%= f.label :payment_method %>
        <%= f.select :payment_method, ['Efectivo', 'Nequi', 'Daviplata', 'Bancolombia'], { prompt: 'Selecciona un método de pago' }, class: "form-control" %>
    </div>
    </div>


    <div class="pos-sidebar-footer">
		<div class="subtotal">
			<div class="text">Subtotal</div>
			<div class="price">$<%= @cart.total %></div>
		</div>
		<div class="taxes">
			<div class="text">Impuesto (0%)</div>
			<div class="price">$0</div>
		</div>
		<div class="total">
			<div class="text">Total</div>
			<div class="price">$<%= @cart.total %></div>
		</div>
		<div class="btn-row">
			<a href="#" class="btn btn-default"><i class="fa fa-bell fa-fw fa-lg"></i> Service</a>
			<a href="#" class="btn btn-default"><i class="fa fa-file-invoice-dollar fa-fw fa-lg"></i> Bill</a>
            <div class="actions">
                <%= f.button type: 'submit', class: 'btn btn-success' do %>
                    <i class="fa fa-check fa-fw fa-lg"></i> Finalizar Orden
                <% end %>
            </div>
		</div>
	</div>
<% end %>
