<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <%= image_tag("/assets/logo/LogoCurb.png" , width: "150px" )%>
                    </a>
                </div>
                <div class="logo-element">
                    INC+
                </div>
            </li>
            <li class="<%= is_active_controller('dashboards') %>">
                <a href=""><i class="fa fa-th-large"></i> <span class="nav-label" data-i18n="nav.dashboard">Comida Rapida</span> <span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse <%= is_active_controller('dashboards', 'in') %>">
                    <li class="<%= is_active_action('dashboard_1') %>"><%= link_to "Perros"%></li>
                    <li class="<%= is_active_action('dashboard_2') %>"><%= link_to "Salchipapas" %></li>
                    <li class="<%= is_active_action('dashboard_3') %>"><%= link_to "Hamburguesas"%></li>
                    <li class="<%= is_active_action('dashboard_4_1') %>"><%= link_to "Asados"%></li>
                    <li class="<%= is_active_action('dashboard_5') %>"><%= link_to "Menu Infantil"%></li>
                </ul>
            </li>
        </ul>

    </div>
</nav>